<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
<suite name="Suite" parallel="tests">
   <test name="iPhone6">
        <listeners>
            <listener class-name="listeners.DeeListeners"/>
        </listeners>
        <parameter name="isRealDevice" value="true"/>
        <parameter name="platformName" value="ios"/>
        <parameter name="deviceName" value="iPhone6sFromTestNGParam"/>
        <parameter name="udid" value="417a4a9981685bcc05e15d32c5d76879807fe62b"/>
        <parameter name="wdaLocalPort" value="10003" />
        <parameter name="webkitDebugProxyPort" value="11003" />
        <classes>
            <class name="iosTests.LoginTest"/>
        </classes>
    </test>

    <!-- <test name="iPhoneX">
        <listeners>
            <listener class-name="listeners.DeeListeners"/>
        </listeners>
        <parameter name="environment" value="stage"/>
        <parameter name="language" value="en-GB"/>
        <parameter name="locale" value="en-GB"/>
        <parameter name="isRealDevice" value="true"/>
        <parameter name="platformName" value="ios"/>
        <parameter name="deviceName" value="iPhoneXFromTestNGParam"/>
        <parameter name="udid" value="2e5a94780943a089d14ce4f47f056e8c505ca4c4"/>
        <parameter name="wdaLocalPort" value="10004" />
        <parameter name="webkitDebugProxyPort" value="11004" />
        <classes>
            <class name="iosTests.LoginTest"/>
        </classes>
    </test> -->

    <!--<test name="iSim8">
        <listeners>
            <listener class-name="listeners.DeeListeners"/>
        </listeners>
        <parameter name="isRealDevice" value="false"/>
        <parameter name="platformName" value="ios"/>
        <parameter name="deviceName" value="iSim8FromTestNGParam"/>
        <parameter name="udid" value="57D62164-6520-40F0-90D2-213F27B77F4F"/>
        <parameter name="wdaLocalPort" value="10004" />
        <parameter name="webkitDebugProxyPort" value="11004" />
        <classes>
            <class name="iosTests.LoginTest"/>
        </classes>
    </test> -->

</suite> <!-- Suite -->