<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493473624411-7n1830v9n2lh6pd0k0tdi3mk0lcm9i47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493473624411-7n1830v9n2lh6pd0k0tdi3mk0lcm9i47</string>
	<key>API_KEY</key>
	<string>AIzaSyBC7XC8mtfZW2qnvrecpOxf4BbG3XgLK_A</string>
	<key>GCM_SENDER_ID</key>
	<string>493473624411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.milwaukeetool.mymilwaukee</string>
	<key>PROJECT_ID</key>
	<string>one-key-lle</string>
	<key>STORAGE_BUCKET</key>
	<string>one-key-lle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493473624411:ios:0fd93ec26910a5636e2a7e</string>
	<key>DATABASE_URL</key>
	<string>https://one-key-lle.firebaseio.com</string>
</dict>
</plist>