<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:onekey.milwaukeetool.com</string>
		<string>applinks:onekey.milwaukeetools.com.au</string>
		<string>applinks:onekey.milwaukeetool.eu</string>
		<string>applinks:onekeystaging.milwaukeetool.com</string>
		<string>applinks:onekeystaging.milwaukeetools.com.au</string>
		<string>applinks:onekeystaging.milwaukeetool.eu</string>
		<string>applinks:onekeydev.milwaukeetool.com</string>
		<string>applinks:onekeytest.milwaukeetool.com</string>
		<string>webcredentials:onekeytest.milwaukeetool.com</string>
		<string>webcredentials:onekeydev.milwaukeetool.com</string>
		<string>webcredentials:onekeystaging.milwaukeetool.com</string>
		<string>webcredentials:onekeystaging.milwaukeetool.eu</string>
		<string>webcredentials:onekeystaging.milwaukeetools.com.au</string>
		<string>webcredentials:onekey.milwaukeetool.com</string>
		<string>webcredentials:onekey.milwaukeetool.eu</string>
		<string>webcredentials:onekey.milwaukeetools.com.au</string>
	</array>
</dict>
</plist>
